aiohttp
cachetools
ffmpeg
discord
flask
Pillow
urllib3
requests

git+https://github.com/thesadru/genshin.py

pytz
rsa
pydantic

git+https://github.com/seriaati/enka-py

bs4
psutil
qrcode
yt_dlp
spotipy
pytube
PyNaCl
